.sidebar {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid;
    border-color: var(--border);
    padding: var(--padding) 0;
}
.icons {
    display: flex;
    flex-direction: column;
}