* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #EFEFF3;
    background: linear-gradient(to top right, #0f0104, #1f0a14), #0f0104;
}

:root {
    --white: #efeff3;
    --padding: 1.25rem;
    --border: rgba(255, 255, 255, 0.1);
}

.wrapper {
    display: grid;
    grid-template-columns: .7fr 3fr;
    height: 100%;
}

.panel {
    border-right: 2px solid var(--border);
}